<%- include("header") -%>

<h2>About page</h2>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin, ipsum eu pharetra congue, dui risus dictum nulla, eget tincidunt urna nibh id massa. Integer tristique, odio ac malesuada luctus, velit dolor feugiat odio, id egestas est ante id nulla. Sed eget mauris semper, scelerisque purus vel, dictum velit. </p>

<%- include("footer") -%>
